* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body {
  width: 100%;
  background: black;
}

.main-l {
  display: flex;
  justify-content: center;
}
.spacing {
  margin-right: 15px;
  margin-top: 19px;
}
.notification-badge {
  /* position: absolute; */
  top: 0;
  right: 0;
  margin-bottom: 15px;
  background-color: red;
  color: white;
  padding: 2px 5px;
  border-radius: 50%;
  font-size: 12px;
}

.img:hover + .hide {
  display: block;
  color: black;
}
.hide {
  display: none;
  font-size: 8px;
}

.img:hover {
  width: 40px;
  height: 40px;
}
.t-messages {
  width: 100%;
  text-align: left;
  color: white;
  margin-top: 20px;
}

.drag-box {
  margin-top: 200px !important;
  border: solid 1px;
  margin: 0 auto;

  box-shadow: 0px 1px 14px 0px;
  height: 130px;
}
.drag-box p {
  margin: auto 0;
}

.drop-list li {
  position: relative;
  border: 1px solid #fff;
}

.drop-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
}

.drop-list li button {
  position: absolute;
  top: -11px;
  right: -10px;
  border-radius: 50%;
  background-color: pink;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-radius: 50%;
  background-color: pink;
}
